# Logs
logs/
*.log

# Dependencies
node_modules/

# Environment
.env

# Database
database/*.db
database/*.db-shm
database/*.db-wal

# Storage
storage/novels/*
!storage/novels/.gitkeep
storage/audio/*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

